<div class="page-main" role="main">
    <aside>
        <ul>
            <li><a href="#"><img src="/assets/01_aside.png"></a></li>
            <li><a href="#"><img src="/assets/02_aside.png"></a></li>
            <li><a href="#"><img src="/assets/03_aside.png"></a></li>
        </ul>
        <button><img src="/assets/btn_open.png"></button>
    </aside>
</div>