<header class="hero-header">
    <div class="inner">
        <div class="slideshow">
            <img src="/assets/slide-1.jpg" alt="" width="1600" height="465">
            <img src="/assets/slide-2.jpg" alt="" width="1600" height="465">
            <img src="/assets/slide-3.jpg" alt="" width="1600" height="465">
            <img src="/assets/slide-4.jpg" alt="" width="1600" height="465">
        </div>
    </div>
</header>