<div class="page-main" role="main">

    <div id="images">
        <h2>IMAGES</h2>
        <div class="inner clearfix">
            <p><img src="img/01_img.jpg"><strong>Hummingbird</strong><span></span></p>
            <p><img src="img/02_img.jpg"><strong>Sitta</strong><span></span></p>
            <p><img src="img/03_img.jpg"><strong>Bee-eater</strong><span></span></p>
        </div>
    </div>

</div>