<div class="page-main" role="main">

    <div id="buttons2">
        <h2>BUTTONS2</h2>
        <div class="inner clearfix">
            <button>
                <span>
                    <img src="/assets/01_gr.png">
                    <img src="/assets/01_bl.png"><br>
                    ELEPHANT
                </span>
            </button>
            <button>
                <span>
                    <img src="/assets/02_gr.png">
                    <img src="/assets/02_bl.png"><br>
                    GIRAFFE
                </span>
            </button>
            <button>
                <span>
                    <img src="/assets/03_gr.png">
                    <img src="/assets/03_bl.png"><br>
                    WOLF
                </span>
            </button>
            <button>
                <span>
                    <img src="/assets/04_gr.png">
                    <img src="/assets/04_bl.png"><br>
                    RHINOCEROS
                </span>
            </button>
        </div>
    </div>

</div>